.Homepage_div_0{
    margin-left: 2vh;
    margin-right: 2vh;
    padding: 2vh;
}
.Homepage_div_1{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.Homepage_div_2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 6vh;

    width: 100%;
    margin-top: 4vh;

}